.env
db.json
.gitignore
**/.vscode
command_log_1.txt
command_log_2.txt
command_log_3.txt
kirabiter.code-workspace
**/helpme
**/stash
**/stashex
private.py
wp.py
priv.txt
bingo_db.json
event_config.json
nameswapper.py
**/ggif
ascii
reaction_roles.json
wconfig.json